<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        macros: {
          Vec: ["\\boldsymbol{#1}", 1],
          hVec: ["\\hat{\\boldsymbol{#1}}", 1],
          Mat: ["\\boldsymbol{#1}", 1],
          Set: ["\\mathcal{#1}", 1],
          tland: ["\\wedge"],
          tlor: ["\\vee"],
          tlnot: ["\\neg"],
          tlnext: ["\\text{X}"],
          tleventual: ["\\text{F}"],
          tluntil: ["\\text{U}"],
          tlwkuntil: ["\\text{W}"],
          tlsince: ["\\text{S}"],
          tlaction: ["\\textsf{#1}", 1]
         }
      },
      options: {
        skipHtmlTags: {'[-]': ['code', 'figure', 'figurecaption']}
      }
    };
</script>
  
<script type="text/javascript" id="MathJax-script" async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
  

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


<link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
<link rel="manifest" href="assets/icons/site.webmanifest">
<link rel="mask-icon" href="assets/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="assets/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="assets/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">